* {
  line-height: 1.6; }

body {
  width: 975px;
  height: 6175px;
  margin: 0px; }

.container {
  width: 975px;
  height: 6175px;
  padding: 15px 15px 15px 87px;
  background-color: #abadad;
  display: grid;
  grid-template-columns: repeat(15, minmax(60px, 666px));
  grid-template-rows: repeat(50, max-content); }

.items1 {
  background-color: #1464ab;
  text-align: center;
  padding: 15px 0 0 0;
  grid-column: 1/2; }

.items2 {
  background-color: #b4d7f6;
  grid-column: 3/-1;
  text-align: center; }
  .items2 header {
    font-size: 40px; }
  .items2 subheader {
    font-size: 45px; }
  .items2 subtext {
    font-size: 30px; }

.items3 {
  background-color: #60bb62;
  grid-column: 1 / 14;
  text-align: center;
  font-size: 24px;
  text-decoration: underline;
  font-weight: bold;
  line-height: 1.6; }

.items4 {
  background-color: #14aba9;
  grid-row: 2/4;
  grid-column: 14/-1; }

.items5 {
  background-color: #ab6c14;
  grid-column: 1/14;
  font-size: 20px; }

.items6 {
  background-color: #f7a062;
  grid-column: 1/-1;
  font-size: 20px;
  -webkit-appearance: none;
  text-align: justify;
  line-height: 1.6; }
  .items6 #loantype {
    padding: 15px 0 0 0;
    width: 111px;
    text-align: left;
    font-size: 20px;
    border: transparent;
    background: transparent;
    font-weight: bolder;
    border-style: none;
    -webkit-appearance: none; }
  .items6 #loanWork {
    width: 111px;
    text-align: left;
    font-size: 20px;
    border: transparent;
    background: transparent;
    font-weight: bolder;
    border-style: none;
    -webkit-appearance: none; }
  .items6 #ltype {
    width: 111px;
    text-align: left;
    font-size: 20px;
    border: transparent;
    background: transparent;
    font-weight: bolder;
    border-style: none;
    -webkit-appearance: none; }
  .items6 #iwe {
    width: 60px;
    text-align: left;
    font-size: 20px;
    border: transparent;
    background: transparent;
    font-weight: bolder;
    border-style: none;
    -webkit-appearance: none; }

#csh {
  width: 171px;
  text-align: left;
  font-size: 20px;
  border: transparent;
  background: transparent;
  font-weight: bolder;
  border-style: none;
  -webkit-appearance: none;
  text-align: right; }

#chhu {
  width: 29px;
  text-align: left;
  font-size: 20px;
  border: transparent;
  background: transparent;
  font-weight: bolder;
  border-style: none;
  -webkit-appearance: none; }

.items7 {
  line-height: 1.6;
  background-color: #9885c0;
  grid-column: 1/-1;
  font-size: 20px;
  border-style: none;
  -webkit-appearance: none;
  border: none;
  text-align: justify; }
  .items7 #csh {
    width: 222px;
    text-align: left;
    font-size: 20px;
    border: transparent;
    background: transparent;
    font-weight: bolder;
    border-style: none;
    -webkit-appearance: none; }
  .items7 #gapa {
    width: 111px;
    text-align: left;
    font-size: 20px;
    border: transparent;
    background: transparent;
    font-weight: bolder;
    border-style: none;
    -webkit-appearance: none; }
  .items7 #pward {
    width: 33px;
    text-align: left;
    font-size: 20px;
    border: transparent;
    background: transparent;
    font-weight: bolder;
    border-style: none;
    -webkit-appearance: none; }

#ptol {
  width: 222px;
  text-align: left;
  font-size: 20px;
  border: transparent;
  background: transparent;
  font-weight: bolder;
  border-style: none;
  -webkit-appearance: none; }

#ttol {
  width: 134px;
  text-align: left;
  font-size: 20px;
  border: transparent;
  background: transparent;
  font-weight: bolder;
  border-style: none;
  -webkit-appearance: none;
  font-size: smaller; }

#pdist {
  width: 166px;
  text-align: left;
  font-size: 20px;
  border: transparent;
  background: transparent;
  font-weight: bolder;
  border-style: none;
  -webkit-appearance: none; }

#pgapa {
  width: 143px;
  text-align: left;
  font-size: 20px;
  border: transparent;
  background: transparent;
  font-weight: bolder;
  border-style: none;
  -webkit-appearance: none;
  font-size: smaller; }

#tward {
  width: 33px;
  text-align: left;
  font-size: 20px;
  border: transparent;
  background: transparent;
  font-weight: bolder;
  border-style: none;
  -webkit-appearance: none; }

#pogapa {
  width: 93px;
  text-align: left;
  font-size: 20px;
  border: transparent;
  background: transparent;
  font-weight: bolder;
  border-style: none;
  -webkit-appearance: none; }

#tdist {
  width: 166px;
  text-align: left;
  font-size: 20px;
  border: transparent;
  background: transparent;
  font-weight: bolder;
  border-style: none;
  -webkit-appearance: none; }

#tgapaz {
  width: 119px;
  text-align: left;
  font-size: 20px;
  border: transparent;
  background: transparent;
  font-weight: bolder;
  border-style: none;
  -webkit-appearance: none;
  font-size: smaller; }

#togapa {
  width: 133px;
  text-align: left;
  font-size: 20px;
  border: transparent;
  background: transparent;
  font-weight: bolder;
  border-style: none;
  -webkit-appearance: none;
  font-size: smaller; }

#fname {
  width: 222px;
  text-align: left;
  font-size: 20px;
  border: transparent;
  background: transparent;
  font-weight: bolder;
  border-style: none;
  -webkit-appearance: none;
  font-size: smaller; }

#myage {
  width: 33px;
  text-align: left;
  font-size: 20px;
  border: transparent;
  background: transparent;
  font-weight: bolder;
  border-style: none;
  -webkit-appearance: none; }

#ownhr {
  width: 111px;
  text-align: left;
  font-size: 20px;
  border: transparent;
  background: transparent;
  font-weight: bolder;
  border-style: none;
  -webkit-appearance: none; }

#phone {
  width: 122px;
  text-align: left;
  font-size: 20px;
  border: transparent;
  background: transparent;
  font-weight: bolder;
  border-style: none;
  -webkit-appearance: none; }

#mob {
  width: 133px;
  text-align: left;
  font-size: 20px;
  border: transparent;
  background: transparent;
  font-weight: bolder;
  border-style: none;
  -webkit-appearance: none; }

#father {
  width: 175px;
  text-align: left;
  font-size: 20px;
  border: transparent;
  background: transparent;
  font-weight: bolder;
  border-style: none;
  -webkit-appearance: none;
  font-size: smaller; }

#grandpa {
  width: 155px;
  text-align: left;
  font-size: 20px;
  border: transparent;
  background: transparent;
  font-weight: bolder;
  border-style: none;
  -webkit-appearance: none;
  font-size: smaller; }

#wifehub {
  width: 160px;
  text-align: left;
  font-size: 20px;
  border: transparent;
  background: transparent;
  font-weight: bolder;
  border-style: none;
  -webkit-appearance: none;
  font-size: smaller; }

#employ {
  width: 111px;
  text-align: left;
  font-size: 20px;
  border: transparent;
  background: transparent;
  font-weight: bolder;
  border-style: none;
  -webkit-appearance: none; }

#cidno {
  width: 111px;
  text-align: left;
  font-size: 20px;
  border: transparent;
  background: transparent;
  font-weight: bolder;
  border-style: none;
  -webkit-appearance: none; }

#mrno {
  width: 43px;
  text-align: left;
  font-size: 20px;
  border: transparent;
  background: transparent;
  font-weight: bolder;
  border-style: none;
  -webkit-appearance: none;
  text-align: left; }

#gsno {
  width: 43px;
  text-align: left;
  font-size: 20px;
  border: transparent;
  background: transparent;
  font-weight: bolder;
  border-style: none;
  -webkit-appearance: none;
  text-align: left; }

#makingdate {
  width: 142px;
  text-align: left;
  font-size: 20px;
  border: transparent;
  background: transparent;
  font-weight: bolder;
  border-style: none;
  -webkit-appearance: none; }

#todaycash {
  width: 205px;
  text-align: left;
  font-size: 20px;
  border: transparent;
  background: transparent;
  font-weight: bolder;
  border-style: none;
  -webkit-appearance: none;
  font-size: smaller; }

#offadd {
  width: 222px;
  text-align: left;
  font-size: 20px;
  border: transparent;
  background: transparent;
  font-weight: bolder;
  border-style: none;
  -webkit-appearance: none; }

#offno {
  width: 122px;
  text-align: left;
  font-size: 20px;
  border: transparent;
  background: transparent;
  font-weight: bolder;
  border-style: none;
  -webkit-appearance: none; }

#officename {
  width: 222px;
  text-align: left;
  font-size: 20px;
  border: transparent;
  background: transparent;
  font-weight: bolder;
  border-style: none;
  -webkit-appearance: none;
  font-size: smaller; }

#officeadd {
  width: 239px;
  text-align: left;
  font-size: 20px;
  border: transparent;
  background: transparent;
  font-weight: bolder;
  border-style: none;
  -webkit-appearance: none;
  font-size: smaller; }

#officephone {
  width: 239px;
  text-align: left;
  font-size: 20px;
  border: transparent;
  background: transparent;
  font-weight: bolder;
  border-style: none;
  -webkit-appearance: none;
  font-size: smaller; }

#pgapaz {
  width: 100px;
  text-align: right;
  font-size: 20px;
  border: transparent;
  background: transparent;
  font-weight: bolder;
  border-style: none;
  -webkit-appearance: none; }

.items8 {
  line-height: 1.6;
  background-color: #cc8616;
  font-size: 20px;
  grid-column: 1/-1;
  border-style: none;
  -webkit-appearance: none;
  border: none;
  text-align: justify; }
  .items8 #ltype {
    width: 99px;
    text-align: left;
    font-size: 20px;
    border: transparent;
    background: transparent;
    font-weight: bolder;
    border-style: none;
    -webkit-appearance: none; }
  .items8 #pcost {
    width: 111px;
    text-align: left;
    font-size: 20px;
    border: transparent;
    background: transparent;
    font-weight: bolder;
    border-style: none;
    -webkit-appearance: none; }
  .items8 #owncost {
    width: 111px;
    text-align: left;
    font-size: 20px;
    border: transparent;
    background: transparent;
    font-weight: bolder;
    border-style: none;
    -webkit-appearance: none; }
  .items8 #perc {
    width: 43px;
    text-align: left;
    font-size: 20px;
    border: transparent;
    background: transparent;
    font-weight: bolder;
    border-style: none;
    -webkit-appearance: none; }
  .items8 #netcash {
    width: 111px;
    text-align: left;
    font-size: 20px;
    border: transparent;
    background: transparent;
    font-weight: bolder;
    border-style: none;
    -webkit-appearance: none; }
  .items8 #cashmemo {
    width: 139px;
    text-align: left;
    font-size: 20px;
    border: transparent;
    background: transparent;
    font-weight: bolder;
    border-style: none;
    -webkit-appearance: none; }
  .items8 #mperiod {
    width: 111px;
    text-align: left;
    font-size: 20px;
    border: transparent;
    background: transparent;
    font-weight: bolder;
    border-style: none;
    -webkit-appearance: none; }
  .items8 #finaldate {
    width: 123px;
    text-align: left;
    font-size: 20px;
    border: transparent;
    background: transparent;
    font-weight: bolder;
    border-style: none;
    -webkit-appearance: none; }
  .items8 #mperiodtype {
    width: 111px;
    text-align: left;
    font-size: 20px;
    border: transparent;
    background: transparent;
    font-weight: bolder;
    border-style: none;
    -webkit-appearance: none; }
  .items8 #mperiodtime {
    width: 44px;
    text-align: left;
    font-size: 20px;
    border: transparent;
    background: transparent;
    font-weight: bolder;
    border-style: none;
    -webkit-appearance: none;
    text-align: center; }
  .items8 #monthyear {
    width: 111px;
    text-align: left;
    font-size: 20px;
    border: transparent;
    background: transparent;
    font-weight: bolder;
    border-style: none;
    -webkit-appearance: none; }
  .items8 #paidyear {
    text-align: left;
    font-size: 19px;
    font-weight: bolder;
    width: 44px;
    border-style: none;
    -webkit-appearance: none;
    border: none;
    background: transparent;
    text-align: center; }
  .items8 #paidmonth {
    text-align: left;
    font-size: 19px;
    font-weight: bolder;
    width: 94px;
    border-style: none;
    -webkit-appearance: none;
    border: none;
    background: transparent;
    text-align: center; }
  .items8 #paidday {
    text-align: left;
    font-size: 19px;
    font-weight: bolder;
    width: 44px;
    border-style: none;
    -webkit-appearance: none;
    border: none;
    background: transparent;
    text-align: center; }

#cashdetail {
  text-align: left;
  font-size: 19px;
  font-weight: bolder;
  width: 531px;
  border-style: none;
  -webkit-appearance: none;
  border: none;
  background: transparent; }

.items9 {
  line-height: 1.6;
  background-color: #a57ac0;
  font-size: 20px;
  grid-column: 1/-1; }
  .items9 table, .items9 th, .items9 td {
    border: 1px solid black; }
  .items9 table {
    border-collapse: collapse; }
  .items9 #memo00 {
    width: 155px;
    text-align: left;
    font-size: 20px;
    border: transparent;
    background: transparent;
    font-weight: bolder;
    border-style: none;
    -webkit-appearance: none; }
  .items9 #memo01 {
    width: 111px;
    text-align: left;
    font-size: 20px;
    border: transparent;
    background: transparent;
    font-weight: bolder;
    border-style: none;
    -webkit-appearance: none; }
  .items9 #memo02 {
    width: 155px;
    text-align: left;
    font-size: 20px;
    border: transparent;
    background: transparent;
    font-weight: bolder;
    border-style: none;
    -webkit-appearance: none; }
  .items9 #memo03 {
    width: 111px;
    text-align: left;
    font-size: 20px;
    border: transparent;
    background: transparent;
    font-weight: bolder;
    border-style: none;
    -webkit-appearance: none; }
  .items9 #memo04 {
    width: 111px;
    text-align: left;
    font-size: 20px;
    border: transparent;
    background: transparent;
    font-weight: bolder;
    border-style: none;
    -webkit-appearance: none; }
  .items9 #memo05 {
    width: 111px;
    text-align: left;
    font-size: 20px;
    border: transparent;
    background: transparent;
    font-weight: bolder;
    border-style: none;
    -webkit-appearance: none; }
  .items9 #memo06 {
    width: 155px;
    text-align: left;
    font-size: 20px;
    border: transparent;
    background: transparent;
    font-weight: bolder;
    border-style: none;
    -webkit-appearance: none; }
  .items9 #memo07 {
    width: 111px;
    text-align: left;
    font-size: 20px;
    border: transparent;
    background: transparent;
    font-weight: bolder;
    border-style: none;
    -webkit-appearance: none; }
  .items9 #memo08 {
    width: 155px;
    text-align: left;
    font-size: 20px;
    border: transparent;
    background: transparent;
    font-weight: bolder;
    border-style: none;
    -webkit-appearance: none; }
  .items9 #memo09 {
    width: 111px;
    text-align: left;
    font-size: 20px;
    border: transparent;
    background: transparent;
    font-weight: bolder;
    border-style: none;
    -webkit-appearance: none; }
  .items9 #memo10 {
    width: 111px;
    text-align: left;
    font-size: 20px;
    border: transparent;
    background: transparent;
    font-weight: bolder;
    border-style: none;
    -webkit-appearance: none; }
  .items9 #memo11 {
    width: 111px;
    text-align: left;
    font-size: 20px;
    border: transparent;
    background: transparent;
    font-weight: bolder;
    border-style: none;
    -webkit-appearance: none; }
  .items9 #memo12 {
    width: 155px;
    text-align: left;
    font-size: 20px;
    border: transparent;
    background: transparent;
    font-weight: bolder;
    border-style: none;
    -webkit-appearance: none; }
  .items9 #memo13 {
    width: 111px;
    text-align: left;
    font-size: 20px;
    border: transparent;
    background: transparent;
    font-weight: bolder;
    border-style: none;
    -webkit-appearance: none; }
  .items9 #memo14 {
    width: 155px;
    text-align: left;
    font-size: 20px;
    border: transparent;
    background: transparent;
    font-weight: bolder;
    border-style: none;
    -webkit-appearance: none; }
  .items9 #memo15 {
    width: 111px;
    text-align: left;
    font-size: 20px;
    border: transparent;
    background: transparent;
    font-weight: bolder;
    border-style: none;
    -webkit-appearance: none; }
  .items9 #memo16 {
    width: 111px;
    text-align: left;
    font-size: 20px;
    border: transparent;
    background: transparent;
    font-weight: bolder;
    border-style: none;
    -webkit-appearance: none; }
  .items9 #memo17 {
    width: 111px;
    text-align: left;
    font-size: 20px;
    border: transparent;
    background: transparent;
    font-weight: bolder;
    border-style: none;
    -webkit-appearance: none; }
  .items9 #housefloor {
    width: 111px;
    text-align: left;
    font-size: 20px;
    border: transparent;
    background: transparent;
    font-weight: bolder;
    border-style: none;
    -webkit-appearance: none; }
  .items9 #housetype {
    width: 111px;
    text-align: left;
    font-size: 20px;
    border: transparent;
    background: transparent;
    font-weight: bolder;
    border-style: none;
    -webkit-appearance: none; }

.items10 {
  font-size: 20px;
  grid-column: 1/-1;
  background-color: #f5a930; }
  .items10 #todaydate {
    width: 200px;
    text-align: left;
    font-size: 20px;
    border: transparent;
    background: transparent;
    font-weight: bolder;
    border-style: none;
    -webkit-appearance: none; }

.items11 {
  font-size: 20px;
  grid-column: 1/-1;
  background-color: #f42dc9; }

.items12 {
  font-size: 20px;
  grid-column: 1/-1;
  background-color: #f85172; }
  .items12 th, .items12 tr, .items12 td {
    border: 1px solid black; }
  .items12 table {
    border-collapse: collapse; }
  .items12 #memo21 {
    width: 155px;
    text-align: left;
    font-size: 20px;
    border: transparent;
    background: transparent;
    font-weight: bolder;
    border-style: none;
    -webkit-appearance: none; }
  .items12 #memo22a {
    width: 88px;
    text-align: left;
    font-size: 20px;
    border: transparent;
    background: transparent;
    font-weight: bolder;
    border-style: none;
    -webkit-appearance: none; }
  .items12 #memo22b {
    width: 88px;
    text-align: left;
    font-size: 20px;
    border: transparent;
    background: transparent;
    font-weight: bolder;
    border-style: none;
    -webkit-appearance: none; }
  .items12 #memo22c {
    width: 88px;
    text-align: left;
    font-size: 20px;
    border: transparent;
    background: transparent;
    font-weight: bolder;
    border-style: none;
    -webkit-appearance: none; }
  .items12 #memo22d {
    width: 88px;
    text-align: left;
    font-size: 20px;
    border: transparent;
    background: transparent;
    font-weight: bolder;
    border-style: none;
    -webkit-appearance: none; }
  .items12 #memo23 {
    width: 100px;
    text-align: left;
    font-size: 20px;
    border: transparent;
    background: transparent;
    font-weight: bolder;
    border-style: none;
    -webkit-appearance: none; }
  .items12 #memo24 {
    width: 99px;
    text-align: left;
    font-size: 20px;
    border: transparent;
    background: transparent;
    font-weight: bolder;
    border-style: none;
    -webkit-appearance: none; }
  .items12 #memo25 {
    width: 99px;
    text-align: left;
    font-size: 20px;
    border: transparent;
    background: transparent;
    font-weight: bolder;
    border-style: none;
    -webkit-appearance: none; }
  .items12 #memo26 {
    width: 99px;
    text-align: left;
    font-size: 20px;
    border: transparent;
    background: transparent;
    font-weight: bolder;
    border-style: none;
    -webkit-appearance: none; }
  .items12 #memo27 {
    width: 155px;
    text-align: left;
    font-size: 20px;
    border: transparent;
    background: transparent;
    font-weight: bolder;
    border-style: none;
    -webkit-appearance: none; }
  .items12 #memo28a {
    width: 88px;
    text-align: left;
    font-size: 20px;
    border: transparent;
    background: transparent;
    font-weight: bolder;
    border-style: none;
    -webkit-appearance: none; }
  .items12 #memo28b {
    width: 88px;
    text-align: left;
    font-size: 20px;
    border: transparent;
    background: transparent;
    font-weight: bolder;
    border-style: none;
    -webkit-appearance: none; }
  .items12 #memo28c {
    width: 88px;
    text-align: left;
    font-size: 20px;
    border: transparent;
    background: transparent;
    font-weight: bolder;
    border-style: none;
    -webkit-appearance: none; }
  .items12 #memo28d {
    width: 88px;
    text-align: left;
    font-size: 20px;
    border: transparent;
    background: transparent;
    font-weight: bolder;
    border-style: none;
    -webkit-appearance: none; }
  .items12 #memo29 {
    width: 100px;
    text-align: left;
    font-size: 20px;
    border: transparent;
    background: transparent;
    font-weight: bolder;
    border-style: none;
    -webkit-appearance: none; }
  .items12 #memo30 {
    width: 99px;
    text-align: left;
    font-size: 20px;
    border: transparent;
    background: transparent;
    font-weight: bolder;
    border-style: none;
    -webkit-appearance: none; }
  .items12 #memo31 {
    width: 99px;
    text-align: left;
    font-size: 20px;
    border: transparent;
    background: transparent;
    font-weight: bolder;
    border-style: none;
    -webkit-appearance: none; }
  .items12 #memo32 {
    width: 99px;
    text-align: left;
    font-size: 20px;
    border: transparent;
    background: transparent;
    font-weight: bolder;
    border-style: none;
    -webkit-appearance: none; }
  .items12 #memo33 {
    width: 155px;
    text-align: left;
    font-size: 20px;
    border: transparent;
    background: transparent;
    font-weight: bolder;
    border-style: none;
    -webkit-appearance: none; }
  .items12 #memo34a {
    width: 88px;
    text-align: left;
    font-size: 20px;
    border: transparent;
    background: transparent;
    font-weight: bolder;
    border-style: none;
    -webkit-appearance: none; }
  .items12 #memo34b {
    width: 88px;
    text-align: left;
    font-size: 20px;
    border: transparent;
    background: transparent;
    font-weight: bolder;
    border-style: none;
    -webkit-appearance: none; }
  .items12 #memo34c {
    width: 88px;
    text-align: left;
    font-size: 20px;
    border: transparent;
    background: transparent;
    font-weight: bolder;
    border-style: none;
    -webkit-appearance: none; }
  .items12 #memo34d {
    width: 88px;
    text-align: left;
    font-size: 20px;
    border: transparent;
    background: transparent;
    font-weight: bolder;
    border-style: none;
    -webkit-appearance: none; }
  .items12 #memo35 {
    width: 100px;
    text-align: left;
    font-size: 20px;
    border: transparent;
    background: transparent;
    font-weight: bolder;
    border-style: none;
    -webkit-appearance: none; }
  .items12 #memo36 {
    width: 99px;
    text-align: left;
    font-size: 20px;
    border: transparent;
    background: transparent;
    font-weight: bolder;
    border-style: none;
    -webkit-appearance: none; }
  .items12 #memo37 {
    width: 99px;
    text-align: left;
    font-size: 20px;
    border: transparent;
    background: transparent;
    font-weight: bolder;
    border-style: none;
    -webkit-appearance: none; }
  .items12 #memo38 {
    width: 99px;
    text-align: left;
    font-size: 20px;
    border: transparent;
    background: transparent;
    font-weight: bolder;
    border-style: none;
    -webkit-appearance: none; }
  .items12 #togapa1 {
    width: 77px;
    text-align: left;
    font-size: 20px;
    border: transparent;
    background: transparent;
    font-weight: bolder;
    border-style: none;
    -webkit-appearance: none;
    font-size: 17px; }
  .items12 #togapa2 {
    width: 44px;
    text-align: left;
    font-size: 20px;
    border: transparent;
    background: transparent;
    font-weight: bolder;
    border-style: none;
    -webkit-appearance: none;
    font-size: 17px;
    text-align: center; }
  .items12 #togapa3 {
    width: 44px;
    text-align: left;
    font-size: 20px;
    border: transparent;
    background: transparent;
    font-weight: bolder;
    border-style: none;
    -webkit-appearance: none;
    font-size: 17px;
    text-align: center; }
  .items12 #togapa4 {
    width: 44px;
    text-align: left;
    font-size: 20px;
    border: transparent;
    background: transparent;
    font-weight: bolder;
    border-style: none;
    -webkit-appearance: none;
    font-size: 17px;
    text-align: center; }
  .items12 #togapa5 {
    width: 77px;
    text-align: left;
    font-size: 20px;
    border: transparent;
    background: transparent;
    font-weight: bolder;
    border-style: none;
    -webkit-appearance: none;
    font-size: 17px;
    text-align: center; }
  .items12 #togapa6 {
    width: 77px;
    text-align: left;
    font-size: 20px;
    border: transparent;
    background: transparent;
    font-weight: bolder;
    border-style: none;
    -webkit-appearance: none;
    font-size: 17px;
    text-align: center; }

.items13 {
  font-size: 20px;
  grid-column: 1/-1;
  background-color: #f2c72c; }
  .items13 #memo51 {
    text-align: left;
    font-size: 19px;
    font-weight: bolder;
    width: 99px;
    border-style: none;
    -webkit-appearance: none;
    border: none;
    background: transparent; }
  .items13 #memo52 {
    text-align: left;
    font-size: 19px;
    font-weight: bolder;
    width: 99px;
    border-style: none;
    -webkit-appearance: none;
    border: none;
    background: transparent; }
  .items13 #memo53 {
    text-align: left;
    font-size: 19px;
    font-weight: bolder;
    width: 99px;
    border-style: none;
    -webkit-appearance: none;
    border: none;
    background: transparent; }
  .items13 #memo54 {
    text-align: left;
    font-size: 19px;
    font-weight: bolder;
    width: 99px;
    border-style: none;
    -webkit-appearance: none;
    border: none;
    background: transparent; }
  .items13 #memo55 {
    text-align: left;
    font-size: 19px;
    font-weight: bolder;
    width: 99px;
    border-style: none;
    -webkit-appearance: none;
    border: none;
    background: transparent; }
  .items13 #memo56 {
    text-align: left;
    font-size: 19px;
    font-weight: bolder;
    width: 99px;
    border-style: none;
    -webkit-appearance: none;
    border: none;
    background: transparent; }
  .items13 #memo57 {
    text-align: left;
    font-size: 19px;
    font-weight: bolder;
    width: 99px;
    border-style: none;
    -webkit-appearance: none;
    border: none;
    background: transparent; }
  .items13 #memo58 {
    text-align: left;
    font-size: 19px;
    font-weight: bolder;
    width: 99px;
    border-style: none;
    -webkit-appearance: none;
    border: none;
    background: transparent; }
  .items13 #memo59 {
    text-align: left;
    font-size: 19px;
    font-weight: bolder;
    width: 99px;
    border-style: none;
    -webkit-appearance: none;
    border: none;
    background: transparent; }
  .items13 #memo60 {
    text-align: left;
    font-size: 19px;
    font-weight: bolder;
    width: 99px;
    border-style: none;
    -webkit-appearance: none;
    border: none;
    background: transparent; }
  .items13 #memo61 {
    text-align: left;
    font-size: 19px;
    font-weight: bolder;
    width: 99px;
    border-style: none;
    -webkit-appearance: none;
    border: none;
    background: transparent; }
  .items13 #memo62 {
    text-align: left;
    font-size: 19px;
    font-weight: bolder;
    width: 99px;
    border-style: none;
    -webkit-appearance: none;
    border: none;
    background: transparent; }
  .items13 #memo63 {
    text-align: left;
    font-size: 19px;
    font-weight: bolder;
    width: 99px;
    border-style: none;
    -webkit-appearance: none;
    border: none;
    background: transparent; }
  .items13 #memo64 {
    text-align: left;
    font-size: 19px;
    font-weight: bolder;
    width: 99px;
    border-style: none;
    -webkit-appearance: none;
    border: none;
    background: transparent; }
  .items13 #memo65 {
    text-align: left;
    font-size: 19px;
    font-weight: bolder;
    width: 99px;
    border-style: none;
    -webkit-appearance: none;
    border: none;
    background: transparent; }
  .items13 #memo66 {
    text-align: left;
    font-size: 19px;
    font-weight: bolder;
    width: 99px;
    border-style: none;
    -webkit-appearance: none;
    border: none;
    background: transparent; }
  .items13 #memo67 {
    text-align: left;
    font-size: 19px;
    font-weight: bolder;
    width: 99px;
    border-style: none;
    -webkit-appearance: none;
    border: none;
    background: transparent; }
  .items13 #memo68 {
    text-align: left;
    font-size: 19px;
    font-weight: bolder;
    width: 99px;
    border-style: none;
    -webkit-appearance: none;
    border: none;
    background: transparent; }
  .items13 #memo69 {
    text-align: left;
    font-size: 19px;
    font-weight: bolder;
    width: 99px;
    border-style: none;
    -webkit-appearance: none;
    border: none;
    background: transparent; }
  .items13 #memo70 {
    text-align: left;
    font-size: 19px;
    font-weight: bolder;
    width: 99px;
    border-style: none;
    -webkit-appearance: none;
    border: none;
    background: transparent; }
  .items13 #memo71 {
    text-align: left;
    font-size: 19px;
    font-weight: bolder;
    width: 99px;
    border-style: none;
    -webkit-appearance: none;
    border: none;
    background: transparent; }
  .items13 #memo72 {
    text-align: left;
    font-size: 19px;
    font-weight: bolder;
    width: 99px;
    border-style: none;
    -webkit-appearance: none;
    border: none;
    background: transparent; }
  .items13 #memo73 {
    text-align: left;
    font-size: 19px;
    font-weight: bolder;
    width: 99px;
    border-style: none;
    -webkit-appearance: none;
    border: none;
    background: transparent; }
  .items13 #memo74 {
    text-align: left;
    font-size: 19px;
    font-weight: bolder;
    width: 99px;
    border-style: none;
    -webkit-appearance: none;
    border: none;
    background: transparent; }
  .items13 #memo75 {
    text-align: left;
    font-size: 19px;
    font-weight: bolder;
    width: 99px;
    border-style: none;
    -webkit-appearance: none;
    border: none;
    background: transparent; }
  .items13 #memo76 {
    text-align: left;
    font-size: 19px;
    font-weight: bolder;
    width: 99px;
    border-style: none;
    -webkit-appearance: none;
    border: none;
    background: transparent; }

.items18 {
  background-color: #76a4cd;
  grid-column: 1/2;
  font-size: 20px; }

.items19 {
  background-color: #9a6690;
  grid-column: 3/-1;
  text-align: center; }
  .items19 subheader {
    font-size: 45px;
    text-align: center; }
  .items19 subtext {
    font-size: 25px;
    text-align: center; }

.items20 {
  background-color: #d20a6f;
  grid-column: 1/-1;
  text-align: center;
  font-weight: bolder;
  text-decoration: underline;
  font-size: 30px; }

.items21 {
  background-color: #c964ab;
  grid-column: 1/-1;
  font-size: 22px;
  text-align: justify; }
  .items21 #pzone {
    text-align: left;
    font-size: 19px;
    font-weight: bolder;
    width: 99px;
    border-style: none;
    -webkit-appearance: none;
    border: none;
    background: transparent; }
  .items21 #tzone {
    text-align: left;
    font-size: 19px;
    font-weight: bolder;
    width: 99px;
    border-style: none;
    -webkit-appearance: none;
    border: none;
    background: transparent; }
  .items21 #pward {
    text-align: left;
    font-size: 19px;
    font-weight: bolder;
    width: 99px;
    border-style: none;
    -webkit-appearance: none;
    border: none;
    background: transparent; }
  .items21 #tward {
    text-align: left;
    font-size: 19px;
    font-weight: bolder;
    width: 99px;
    border-style: none;
    -webkit-appearance: none;
    border: none;
    background: transparent; }
  .items21 #ltype {
    text-align: left;
    font-size: 19px;
    font-weight: bolder;
    width: 99px;
    border-style: none;
    -webkit-appearance: none;
    border: none;
    background: transparent; }
  .items21 #intPerc {
    text-align: left;
    font-size: 19px;
    font-weight: bolder;
    width: 44px;
    border-style: none;
    -webkit-appearance: none;
    border: none;
    background: transparent; }

.items22 {
  background-color: #1482ab;
  grid-column: 1/7; }

.items23 {
  background-color: #d20aab;
  grid-column: 7/-1; }

.items24 {
  background-color: #aa97b3;
  grid-column: 1/-1;
  font-size: 20px; }
  .items24 #loanadd {
    text-align: left;
    font-size: 19px;
    font-weight: bolder;
    width: 344px;
    border-style: none;
    -webkit-appearance: none;
    border: none;
    background: transparent; }
  .items24 #cellno {
    text-align: left;
    font-size: 19px;
    font-weight: bolder;
    width: 144px;
    border-style: none;
    -webkit-appearance: none;
    border: none;
    background: transparent; }

.items25 {
  background-color: #8da84d;
  grid-column: 1/-1; }

.items26 {
  background-color: #8fd6c1;
  grid-column: 1/-1;
  text-align: center; }

.items27 {
  background-color: #bb7f96;
  grid-column: 1/-1; }

.items28 {
  background-color: #9cdad6;
  grid-column: 1/-1; }

.items14 {
  background-color: #3ee977;
  font-size: 20px;
  grid-row: 19/27;
  grid-column: 1/4;
  padding: 10px; }
  .items14 table {
    border-collapse: collapse; }
  .items14 #memo177 {
    display: inline-block;
    transform: rotate(90deg); }
  .items14 #memo177 {
    text-align: left;
    font-size: 19px;
    font-weight: bolder;
    width: 33px;
    border-style: none;
    -webkit-appearance: none;
    border: none;
    background: transparent;
    font-size: 19px;
    font-weight: bolder;
    text-align: center; }

#myDIV {
  height: 900px;
  background-color: #FFFFFF;
  writing-mode: vertical-rl; }

#todayyear {
  text-align: left;
  font-size: 19px;
  font-weight: bolder;
  width: 32px;
  border-style: none;
  -webkit-appearance: none;
  border: none;
  background: transparent;
  text-align: center; }

#todaymonth {
  text-align: left;
  font-size: 19px;
  font-weight: bolder;
  width: 62px;
  border-style: none;
  -webkit-appearance: none;
  border: none;
  background: transparent;
  text-align: center; }

#todayday {
  text-align: left;
  font-size: 19px;
  font-weight: bolder;
  width: 32px;
  border-style: none;
  -webkit-appearance: none;
  border: none;
  background: transparent;
  text-align: center; }

#weekday {
  text-align: left;
  font-size: 19px;
  font-weight: bolder;
  width: 32px;
  border-style: none;
  -webkit-appearance: none;
  border: none;
  background: transparent;
  text-align: center; }

.items15 {
  background-color: #b66290;
  grid-column: 4/-1;
  font-size: 20px;
  text-align: justify; }
  .items15 #pward {
    text-align: left;
    font-size: 19px;
    font-weight: bolder;
    width: 32px;
    border-style: none;
    -webkit-appearance: none;
    border: none;
    background: transparent;
    text-align: center; }
  .items15 #citzno {
    text-align: left;
    font-size: 19px;
    font-weight: bolder;
    width: 200px;
    border-style: none;
    -webkit-appearance: none;
    border: none;
    background: transparent;
    text-align: center; }
  .items15 #ltype {
    text-align: left;
    font-size: 19px;
    font-weight: bolder;
    width: 100px;
    border-style: none;
    -webkit-appearance: none;
    border: none;
    background: transparent;
    text-align: center; }
  .items15 #todaydate {
    text-align: left;
    font-size: 19px;
    font-weight: bolder;
    width: 111px;
    border-style: none;
    -webkit-appearance: none;
    border: none;
    background: transparent;
    text-align: center; }
  .items15 #mcash {
    text-align: left;
    font-size: 19px;
    font-weight: bolder;
    width: 144px;
    border-style: none;
    -webkit-appearance: none;
    border: none;
    background: transparent;
    text-align: center; }
  .items15 #perc {
    text-align: left;
    font-size: 19px;
    font-weight: bolder;
    width: 94px;
    border-style: none;
    -webkit-appearance: none;
    border: none;
    background: transparent;
    text-align: center; }
  .items15 #mperiodtype {
    text-align: left;
    font-size: 19px;
    font-weight: bolder;
    width: 94px;
    border-style: none;
    -webkit-appearance: none;
    border: none;
    background: transparent;
    text-align: center; }

.items16a {
  background-color: #bbf6e2;
  grid-column: 4/-1;
  font-size: 22px;
  text-align: center; }

.items16b {
  background-color: #bbf6bc;
  grid-column: 4/-1;
  font-size: 22px;
  text-align: center; }

.items16 {
  background-color: #f18282;
  grid-column: 4/-1;
  font-size: 20px; }
  .items16 td {
    border: 1px solid black; }
  .items16 table {
    border-collapse: collapse; }

#memo76a {
  text-align: left;
  font-size: 19px;
  font-weight: bolder;
  width: 142px;
  border-style: none;
  -webkit-appearance: none;
  border: none;
  background: transparent; }

#memo77 {
  text-align: left;
  font-size: 19px;
  font-weight: bolder;
  width: 90px;
  border-style: none;
  -webkit-appearance: none;
  border: none;
  background: transparent; }

#memo78 {
  text-align: left;
  font-size: 19px;
  font-weight: bolder;
  width: 111px;
  border-style: none;
  -webkit-appearance: none;
  border: none;
  background: transparent; }

#memo79 {
  text-align: left;
  font-size: 19px;
  font-weight: bolder;
  width: 111px;
  border-style: none;
  -webkit-appearance: none;
  border: none;
  background: transparent; }

#memo80 {
  text-align: left;
  font-size: 19px;
  font-weight: bolder;
  width: 90px;
  border-style: none;
  -webkit-appearance: none;
  border: none;
  background: transparent; }

#memo81 {
  text-align: left;
  font-size: 19px;
  font-weight: bolder;
  width: 142px;
  border-style: none;
  -webkit-appearance: none;
  border: none;
  background: transparent; }

#memo82 {
  text-align: left;
  font-size: 19px;
  font-weight: bolder;
  width: 90px;
  border-style: none;
  -webkit-appearance: none;
  border: none;
  background: transparent; }

#memo83 {
  text-align: left;
  font-size: 19px;
  font-weight: bolder;
  width: 111px;
  border-style: none;
  -webkit-appearance: none;
  border: none;
  background: transparent; }

#memo84 {
  text-align: left;
  font-size: 19px;
  font-weight: bolder;
  width: 111px;
  border-style: none;
  -webkit-appearance: none;
  border: none;
  background: transparent; }

#memo85 {
  text-align: left;
  font-size: 19px;
  font-weight: bolder;
  width: 90px;
  border-style: none;
  -webkit-appearance: none;
  border: none;
  background: transparent; }

#memo86 {
  text-align: left;
  font-size: 19px;
  font-weight: bolder;
  width: 90px;
  border-style: none;
  -webkit-appearance: none;
  border: none;
  background: transparent; }

.items17 {
  background-color: #dbd4cf;
  grid-column: 4/-1;
  font-size: 20px; }

#memo86a {
  text-align: left;
  font-size: 19px;
  font-weight: bolder;
  width: 50px;
  border-style: none;
  -webkit-appearance: none;
  border: none;
  background: transparent; }

#memo87 {
  text-align: left;
  font-size: 19px;
  font-weight: bolder;
  width: 50px;
  border-style: none;
  -webkit-appearance: none;
  border: none;
  background: transparent; }

#memo88 {
  text-align: left;
  font-size: 19px;
  font-weight: bolder;
  width: 50px;
  border-style: none;
  -webkit-appearance: none;
  border: none;
  background: transparent; }

#memo89 {
  text-align: left;
  font-size: 19px;
  font-weight: bolder;
  width: 50px;
  border-style: none;
  -webkit-appearance: none;
  border: none;
  background: transparent; }

/*# sourceMappingURL=webfronted.css.map */
